* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid limegreen !important; */
}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background:var(--rs-color-background-primary-faded);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--rs-color-rgb-background-primary), 0.5);
  border-radius: var(--rs-unit-radius-large);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--rs-color-rgb-background-primary), 0.8);
}
