.mainTitle{
  color:var(--rs-color-background-primary-highlighted);
}
.mainTitle>span{
  color:var(--rs-color-background-primary);
}
.packsDisplayContainer{
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding-top: 2rem;
}
.cardContainer{
  width:450px;
  min-width: 250px;
}
.card:hover{
  transition-duration: 0.2s;
  box-shadow: var(--rs-shadow-elevated);
}

.btn{
  background-color: var(--rs-color-background-neutral) !important;
  cursor: pointer !important;
  display: inline-flex !important;
  font-weight: var(--rs-font-weight-body-medium-2) !important;
  line-height: var(--rs-line-height-body-medium-2) !important;
  padding: calc(var(--rs-unit-x2) - 1px) calc(var(--rs-unit-x3) - 1px) !important;
  text-decoration: none !important;
}

.btn:hover{
  background-color: var(--rs-color-background-neutral-highlighted) !important;
}

@media (--rs-viewport-s) {
  
  .packsDisplayContainer{
    padding: 0;
    padding-top: 2rem;
  }
}