.mainTitle{
  color:var(--rs-color-background-primary-highlighted);
}
.mainTitle>span{
  color:var(--rs-color-background-primary);
}
.packsDisplayContainer{
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding-top: 2rem;
}
.cardContainer{
  width:450px;
  min-width: 350px;
}
.card:hover{
  transition-duration: 0.2s;
  box-shadow: var(--rs-shadow-elevated);
}