.navbar{
    position:fixed;
    width:220px;
    gap:1rem;
}

/* width_of_nav_in_Navigation_Component */
.navWidth{
    width: 210px;
}

.navLinkContainer{
    padding: 0;
    padding-top: 1rem;
    width: 90%;
}

.inActive{
    background-color:transparent;
    border-color:red;
    border-radius:var(--rs-unit-radius-small);
}