.navbar{
    position:fixed;
    width:220px;
    gap:1rem;
}

/* width_of_nav_in_Navigation_Component */
.navWidth{
    width: 210px;
}

.navLinkContainer{
    padding: 0;
    padding-top: 1rem;
    width: 90%;
}

button{
    border-width: 1px !important;
    cursor: pointer !important;
    display: inline-flex !important;
    font-weight: var(--rs-font-weight-body-medium-2) !important;
    line-height: var(--rs-line-height-body-medium-2) !important;
    padding: calc(var(--rs-unit-x2) - 1px) calc(var(--rs-unit-x3) - 1px) !important;
    text-decoration: none !important;
  }