.navbar{
    position:fixed;
    height:100vh;
    width:220px;
    gap:1rem;
}

/* width_of_nav_in_Navigation_Component */
.isRow{
    display:flex;
    flex-direction:row;
}
.navWidth{
    display: block !important;
    width: 210px !important;
}
/* modal-toggle and modal start */

.modalToggle{
    display:none !important;

}
.modal{
    display:none;
}

/* modal-toggle and modal :end */

.navLinkContainer{
    padding: 0;
    padding-top: 1rem;
    width: 90%;
}
.navLinkContainerFull{
    display:inline-block !important;
    padding: 0;
    padding-top: 1rem;
    width: 90%;
}
button{
    cursor: pointer !important;
    display: inline-flex !important;
    font-weight: var(--rs-font-weight-body-medium-2) !important;
    line-height: var(--rs-line-height-body-medium-2) !important;
    padding: calc(var(--rs-unit-x2) - 1px) calc(var(--rs-unit-x3) - 1px) !important;
    text-decoration: none !important;
}

.btnBorder{
    border: 1px solid var(--rs-color-border-neutral-faded) !important;
    background-color: var(--rs-color-background-base) !important;
    color: var(--rs-color-foreground-neutral);
}

.btnBorder:hover{
    background-color: var(--rs-color-background-neutral) !important;
}

@media (--rs-viewport-s) {
    .navbar{
        height:10vh;
        width:100%;
        flex-direction:row;
        justify-content:space-between;
    }
    .isRow{
        flex-direction:column;
    }
    .navWidth{
        display: block !important;
        width: 100% !important;
        height:10vh;
    }
    .modalToggle{
        display:inline-flex !important;
        margin-left:1rem;
    
    }
    .modal{
        display:inline-flex;
        width: 80% !important;
    }
    .navLinkContainerFull{
        display: none!important;
    }
}